exclude .hgignore
recursive-exclude debian *
recursive-exclude debian.hardy *

include ChangeLog
include COPYING
include README

include bin/hgview
include bin/hgview.bat

include hgviewlib/qt4/*.ui
include hgviewlib/qt4/hgqv.qrc

include doc/hgview.1.txt
include doc/Makefile
include hgext/hgview.py

recursive-include etc *
