exclude .hgignore
recursive-exclude debian *
recursive-exclude test *
recursive-exclude debian.hardy *
recursive-exclude debian.lenny *
recursive-exclude debian.intrepid *

include ChangeLog
include COPYING
include README

include bin/hgview
include bin/hgview.bat

include hgviewlib/qt4/*.ui
include hgviewlib/qt4/*.py
include hgviewlib/qt4/hgqv.qrc
include hgviewlib/qt4/icons/*

include hgviewlib/curses/*.py

include doc/hgview.1.txt
include doc/Makefile
include hgext/hgview.py

include hgext/hgview.rc
include doc/hgqv.1
include setup.py
include __pkginfo__.py
include test/data/hgviewrc
include test/data/.hgviewrc


recursive-include etc *
