exclude .hgignore
recursive-exclude debian *
recursive-exclude debian.hardy *

include ChangeLog
include COPYING
include README

include bin/hgqv
include bin/hgqv.bat

include hgqvlib/qt4/hgqv.ui
include hgqvlib/qt4/filediffviewer.ui
include hgqvlib/qt4/fileviewer.ui
include hgqvlib/qt4/manifestviewer.ui

include doc/hgqv.1
include hgext/hgqv.py
include hgext/hgqv.rc

