Source: hgqv
Section: devel
Priority: optional
Maintainer: David Douard <david.douard@logilab.fr>
Build-Depends: debhelper (>= 5.0.38), python-qt4, mercurial (>= 0.9.3), python (>=2.3.5-7), python-central (>= 0.5.6), xmlto, asciidoc
Build-Depends-Indep: 
Standards-Version: 3.7.3
XS-Python-Version: current
Vcs-Hg: http://www.logilab.org/cgi-bin/hgwebdir.cgi/hgqv
Vcs-Browser: http://www.logilab.org/cgi-bin/hgwebdir.cgi/hgqv
Homepage: http://www.logilab.org/project/hgqv

Package: hgqv
Architecture: all
Depends: python, python-qt4, python-qscintilla2, python-egenix-mxdatetime, mercurial (>= 0.9.3)
Enhances: mercurial
XB-Python-Version: ${python:Versions}
Description: mercurial interactive history viewer
 Its purpose is to easily navigate in a mercurial repository history. It has been
 written with efficiency in mind when dealing with big repositories
 (it should happily be able to handle the browsing of the Linux kernel
 source code repository).
