Source: hgview
Section: vcs
Priority: optional
Maintainer: David Douard <david.douard@logilab.fr>
Uploaders: Julien Cristau <julien.cristau@logilab.fr>, Alain Leufroy <alain.leufroy@logilab.fr>, Pierre-Yves David <pierre-yves.david@logilab.fr>
Build-Depends: debhelper (>= 5.0.38), pyqt4-dev-tools, python (>=2.5), xmlto, asciidoc, mercurial
Build-Depends-Indep: python-support
XS-Python-Version: >= 2.5
Standards-Version: 3.9.1
Vcs-Hg: http://www.logilab.org/cgi-bin/hgwebdir.cgi/hgview
Vcs-Browser: http://www.logilab.org/cgi-bin/hgwebdir.cgi/hgview
Homepage: http://www.logilab.org/project/hgview

Package: hgview
Architecture: all
Depends: 
  ${python:Depends},
  ${misc:Depends},
  python-qt4,
  python-qscintilla2,
  python-docutils,
  hgview-common (= ${source:Version})
Enhances: mercurial
Description: mercurial interactive history viewer (Qt4 interface)
 Its purpose is to easily navigate in a mercurial repository
 history. It has been written with efficiency in mind when dealing
 with quite big repositories.
 .
 This package installs the Qt4 interface.

Package: hgview-common
Architecture: all
Depends:
  ${python:Depends},
  ${misc:Depends},
  mercurial (>= 1.1.0),
Enhances: mercurial
Replaces: hgview (<< 1.4)
Conflicts: hgview (<< 1.4)
Recommends: hgview | hgview-curses
Description: mercurial interactive history viewer (common files)
 Its purpose is to easily navigate in a mercurial repository
 history. It has been written with efficiency in mind when dealing
 with quite big repositories.
 .
 This package install the common files.
 You may want to install a user interface (hgview or hgview-curses).

Package: hgview-curses
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
 python-urwid,
 python-pygments,
 python-pyinotify,
 hgview-common (= ${source:Version}),
Enhances: mercurial
Description: mercurial interactive history viewer (text interface)
 Its purpose is to easily navigate in a mercurial repository
 history. It has been written with efficiency in mind when dealing
 with quite big repositories.
 .
 This package installs the text interface. 
 Note that the Qt interface is more complete than the text interface and
 provides more views.

